.app {
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 17rem;
  top: 0;
  display: flex;
  flex-direction: column;
  padding-top: .75rem;
  z-index: 1;
}

.logo{
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: .5rem;
}

.logo:hover{
  cursor: pointer;
}

.navlink{
  color: white;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding: 1rem;
}

.navlink:hover {
  color: aqua;
  cursor: pointer;
}

.navlink-name{
  font-size: 16pt;
}

.navlink-icon{
  padding-right: 1.5rem;
}

.header {
  background-color: grey;
  display: flex;
  justify-content: space-between;
} 

.header-view {
  color: white;
}


.view-name {
  padding-left: 1rem;
}

.avatar {
  padding-right: 1rem;
}

.main {
  background-color: antiquewhite;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.feed{
  padding-left: 17rem;
  height: 100vh;
}

