.app {
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 17rem;
  top: 0;
  display: flex;
  flex-direction: column;
  padding-top: .75rem;
}

.logo{
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: .5rem;
}

.logo:hover{
  cursor: pointer;
}

.navlink{
  color: white;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding: 1rem;
}

.navlink:hover {
  color: aqua;
  cursor: pointer;
}

.navlink-name{
  font-size: 16pt;

}

.navlink-icon{
  padding-right: 1.5rem;
}

.header {
  background-color: blue;
} 

.main {
  background-color: black;
}

.footer{
  background-color: black;
} 
